head 
    title 
        |Yatzy 4.0
    link(rel="stylesheet", href="/yatzy.css")
div 
    h1 
        |Welcome | Let's Play Yatzy! 
    hr(class="divider")
div 
    h2
        |Let us know who you are.
    input(type="text")