@font-face {
   font-family: nes-font;
   src: url(/client/Media/nintendo-nes-font.ttf);
}

body {
   background-color: black;
   font-family: nes-font;
   min-width: 400px;
}

button {
   font-family: nes-font;
   margin-left: auto;
   margin-right: auto;
   width: 55%;
   align-self: center;
}

button:hover {
   opacity: 50%;
}

button:disabled {
   opacity: 50%;
}

img {
   height: 70px;
   width: 70px;
}

img:hover {
   opacity: 50%;
}

p {
   margin: 0px;
   color: white;
   border-bottom: 1px solid white;
}

input {
   font-family: nes-font;
   width: 300px;
   height: 30px;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-image: url(/client/Media/nameInput.svg);
   background-color: transparent;
   background-position: center;
   border: none;
   align-self: center;
   font-size: large;
}

input:hover {
   background-image: url(/client/Media/nameInputDisabled.svg);
   color: white;
   /* set placeholder color to white */
   &::placeholder {
      color: white;
   }
}

input:disabled {
   background-image: url(/client/Media/inputSvgDisabled.svg);
   color: white;
}

.btnRoll {
   height: 100px;
   background: url(/client/Media/rollSvg.svg) center no-repeat;
   background-size: 124px 100px;
   border: none;
}

.btnNewGame {
   height: 100px;
   background: url(/client/Media/newGameSvg.svg) center no-repeat;
   background-size: 420px 100px;
   border: none;
}

div {
   /*border: 1px solid #ccc;
   */
   padding: 10px;
   gap: 10px;
   display: grid;
   font-size: 30%;
}

.dices {
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: auto auto;
   margin-bottom: 10px;
   
   /* Custom border */
   border: 30px solid;
   border-image-source: url(/client/Media/borderSvg.svg);
   border-image-slice: 100;
   border-image-repeat: round;
}

.points {
   grid-template-columns: 175px auto;
   
   /* Custom border */
   border: 30px solid;
   border-image-source: url(/client/Media/borderSvg.svg);
   border-image-slice: 100;
   border-image-repeat: round;
}

.btnPanel {
   grid-template-columns: auto auto;
}

.divider {
   border: 1px solid #ccc;
   margin: 20px 0;
}

.submitArea {
   /*
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   */
   /* Center items to the middle of the screen not the middle of the div */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   color: white;
   font-size: 5em; /* eller større hvis ønsket */
   text-align: center;
}

h2 {
   color: white;
   font-size: 3em;
   text-align: center;
}

h3 {
   color: white;
   font-size: 2em;
   text-align: center;
}

h4 {
   color: white;
   text-align: center;
}

.disclaimer {
   color:red;
   padding-top: 5%;
}