@font-face {
   font-family: nes-font;
   src: url(/client/Media/nintendo-nes-font.ttf);
}

body {
   background-color: black;
   font-family: nes-font;
   min-width: 400px;
}

button {
   font-family: nes-font;
}

button:hover {
   opacity: 50%;
}

button:disabled {
   opacity: 50%;
}

img {
   height: 70px;
   width: 70px;
}

img:hover {
   opacity: 50%;
}

p {
   margin: 0px;
   color: white;
   border-bottom: 1px solid white;
}

h4 {
   color: white;
   text-align: center;
}

input {
   font-family: nes-font;
   width: 300px;
   height: 28px;
   text-align: right;
   background-size: 64px 30px;
   background-repeat: repeat;
   background-image: url(/client/Media/inputSvg.svg);
   background-color: transparent;
   border: none;
   align-self: center;
   font-size: large;
}

input:hover {
   background-image: url(/client/Media/inputSvgDisabled.svg);
   color: white;
}

input:disabled {
   background-image: url(/client/Media/inputSvgDisabled.svg);
   color: white;
}

.btnRoll {
   height: 100px;
   background: url(/client/Media/rollSvg.svg) center no-repeat;
   background-size: 124px 100px;
   border: none;
}

.btnNewGame {
   height: 100px;
   background: url(/client/Media/newGameSvg.svg) center no-repeat;
   background-size: 420px 100px;
   border: none;
}

div {
   padding: 10px;
   gap: 10px;
   display: grid;
   font-size: 30%;
}

.dices {
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: auto auto;
   margin-bottom: 10px;

   /* Custom border */
   border: 30px solid;
   border-image-source: url(/client/Media/borderSvg.svg);
   border-image-slice: 100;
   border-image-repeat: round;
}

.points {
   grid-template-columns: 175px auto;

   /* Custom border */
   border: 30px solid;
   border-image-source: url(/client/Media/borderSvg.svg);
   border-image-slice: 100;
   border-image-repeat: round;
}

.btnPanel {
   grid-template-columns: auto auto;
}

.divider {
   border: 1px solid #ccc;
   margin: 20px 0;
}

h1 {
   color: white;
   font-size: 4em; /* eller større hvis ønsket */
   text-align: center;
}
